* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: inherit;
    color: inherit;
}

/* Header */

.header {
    background-color: #007fff;
    padding: 20px 40px;
    color: white;
    font-size: 1.3rem;
}

/* Main */

.main {
    display: grid;
    min-height: calc(100vh - 88px);
    grid-template-columns: 1fr 3fr;
}

/* Sidebar */

.sidebar {
    grid-column: 1 / 2;
    background-color: rgb(226, 232, 240);
    color: #46494b;
    padding: 20px;
}

.project-title {
    padding: 10px;
}

.sidebar hr {
    margin-bottom: 20px;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.project-item .project-cancel {
    visibility: hidden;
}

.project-item:hover .project-cancel {
    visibility: visible;
    font-weight: bold;
}

.selected {
    background-color: rgba(93, 110, 131, 0.2);
    font-weight: bold;
}

.add-project-button {
    margin-top: 10px;
    text-align: left;
    font-size: 1rem;
}

.add-project-button:hover, .project-item:hover{
    background-color: rgba(93, 110, 131, 0.2);
}

.add-project-popup {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: none;
}

.sidebar input {
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    border: none;
    width: calc(100% - 10px);
}

.add-project-popup-buttons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.button-add-project-popup, .button-cancel-project-popup {
    font-size: 1rem;
    font-weight: bold;
}

.button-add-project-popup {
    background-color: #80ff80;
}

.button-cancel-project-popup{
    background-color: #fc8b8b;
}

.button-add-project-popup:hover {
    background-color: #b6ffb6;
}

.button-cancel-project-popup:hover {
    background-color: #f5b2b2;
}

/* Container */

.container {
    grid-column: 2 / 6;
    background-color: #003459;
    padding: 20px 40px;
}